<html>
    <%- include("../partial/header") %>
<body>
    <%- include("../partial/nav") %>
  <div class="detail content">
         <h2><%= blogs.title %></h2>
         <div class="content">
            <p><%= blogs.body %></p>
         </div>
         <a class="delete" data-doc="<%= blogs._id %>">delete</a>
  </div>
 <%- include("../partial/footer") %>
    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e)=>{
            const endpoint = `/blogs/${trashcan.dataset.doc}`;
            fetch(endpoint,{
                  method: 'DELETE'
            })
        
        .then((res)=>res.json())
        .then((data)=> window.location.href=data.redirect)
        .catch(err=>console.log(err));
        })
    </script>
</body>
</html>